In [1]:
# Import Dependencies
import pandas as pd

In [2]:
csv_path1 = "Resources/species.csv"
csv_path2 = "Resources/parks.csv"

In [3]:
df1 = pd.read_csv(csv_path1, engine='python')

In [4]:
df2 = pd.read_csv(csv_path2)

In [5]:
df1.head()

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN,NaN
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN,NaN
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern,NaN
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered,NaN
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN,NaN

In [6]:
df2.head()

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [7]:
df1.columns

Index(['Species ID', 'Park Name', 'Category', 'Order', 'Family',
       'Scientific Name', 'Common Names', 'Record Status', 'Occurrence',
       'Nativeness', 'Abundance', 'Seasonality', 'Conservation Status',
       'Unnamed: 13'],
      dtype='object')

In [8]:
df2.columns

Index(['Park Code', 'Park Name', 'State', 'Acres', 'Latitude', 'Longitude'], dtype='object')

In [9]:
df1.fillna("Nan"=="0", inplace=True)

In [10]:
df1.head()

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,False,False
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,False,False,False
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,False,Species of Concern,False
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,False,False,Endangered,False
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,False,False

In [11]:
new_df1 = df1.drop(["Species ID", "Order", "Occurrence",
       "Nativeness", "Abundance", "Seasonality", "Conservation Status",
       "Conservation Status",
       ],axis=1,)
new_df1

,Park Name,Category,Family,Scientific Name,Common Names,Record Status,Unnamed: 13
0,Acadia National Park,Mammal,Cervidae,Alces alces,Moose,Approved,False
1,Acadia National Park,Mammal,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,False
2,Acadia National Park,Mammal,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,False
3,Acadia National Park,Mammal,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,False
4,Acadia National Park,Mammal,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,False
...,...,...,...,...,...,...,...
119243,Zion National Park,Vascular Plant,Solanaceae,Solanum triflorum,Cut-Leaf Nightshade,Approved,False
119244,Zion National Park,Vascular Plant,Vitaceae,Vitis arizonica,Canyon Grape,Approved,False
119245,Zion National Park,Vascular Plant,Vitaceae,Vitis vinifera,Wine Grape,Approved,False
119246,Zion National Park,Vascular Plant,Zygophyllaceae,Larrea tridentata,Creosote Bush,Approved,False
119247,Zion National Park,Vascular Plant,Zygophyllaceae,Tribulus terrestris,Puncture Vine,Approved,False

In [12]:
new_df1.head()

,Park Name,Category,Family,Scientific Name,Common Names,Record Status,Unnamed: 13
0,Acadia National Park,Mammal,Cervidae,Alces alces,Moose,Approved,False
1,Acadia National Park,Mammal,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,False
2,Acadia National Park,Mammal,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,False
3,Acadia National Park,Mammal,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,False
4,Acadia National Park,Mammal,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,False

In [23]:
main_df = new_df1.drop(["Record Status", "Unnamed: 13"],axis=1,)

In [25]:
main_df.to_csv('Resources/cleaned_species.csv')

In [13]:
df2.head()

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [14]:
new_df2=df2.drop(["Park Code",
       ],axis=1, inplace=True)

In [17]:
df2.head()

                Park Name State   Acres  Latitude  Longitude
0    Acadia National Park    ME   47390     44.35     -68.21
1    Arches National Park    UT   76519     38.68    -109.57
2  Badlands National Park    SD  242756     43.75    -102.50
3  Big Bend National Park    TX  801163     29.25    -103.25
4  Biscayne National Park    FL  172924     25.65     -80.08

In [20]:
df2.to_csv('Resources/cleaned_park.csv')